---

- name: Install dependencies
  ansible.builtin.apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - gpg
      - gnupg
    state: latest
    update_cache: true

- name: Insert into /etc/module-load
  ansible.builtin.blockinfile:
    path: /etc/modules-load.d/k8s.conf
    create: true
    block: |
      overlay
      br_netfilter

- name: Load modules
  ansible.builtin.shell:
    cmd: "modprobe {{ item }}" 
    executable: /bin/bash
  changed_when: false
  loop:
    - overlay
    - br_netfilter

- name: Insert into /etc/module-load
  ansible.builtin.blockinfile:
    path: /etc/sysctl.d/k8s.conf
    create: true
    block: |
      net.bridge.bridge-nf-call-iptables  = 1
      net.bridge.bridge-nf-call-ip6tables = 1
      net.ipv4.ip_forward                 = 1

- name: Load sysctl
  ansible.builtin.shell:
    executable: /bin/bash
    cmd: sysctl --system
  register: result
  changed_when: result.rc != 0

- name: Turn off SWAP
  ansible.builtin.command: swapoff -a

- name: Disable SWAP in fstab
  replace:
    path: /etc/fstab
    regexp: '^([^#].*?\sswap\s+sw\s+.*)$'
    replace: '# \1'